@model EQueue.AdminWeb.Models.ProducerViewModel
@{
    ViewBag.Title = "在线生产者列表";
}
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="vertical-center">
                    ProducerId
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProducerIds)
            {
                <tr>
                    <td class="vertical-center">
                        @item
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
