<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime>
  <appSettings>
    <add key="fileStoreRootPath" value="d:\equeue-store"/>
    <add key="concurrentThreadCount" value="1"/>
    <add key="messageSize" value="1024"/>
    <add key="batchSize" value="1"/> 
    <add key="messageCount" value="10000000"/>
    <add key="syncFlush" value="false"/>
  </appSettings>
</configuration>